body {
    width: 100vw;
    max-width: 960px;
    margin: 30px auto;
    background: #223355;
}

button {
    width: 50%;
    background: #15223c;
    cursor: pointer;
}

button:active {
    background: #0b2a69;
}

div {
    padding: 10px;
    gap: 10px;
    display: flex;
    height: 256px;
}

canvas, button {
    border: 2px solid black;
    border-radius: 20px;
}

canvas {
    width: 100%;
}