/* lock screen in place */
html,
body { height: 100%; margin: 0; }
body {
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    touch-action: none;
}

/* prevent selections */
html {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
}

body {
    background: #223355;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
}

canvas, button, .dial {
    border: 2px solid #000;
    box-sizing: border-box;
}

.controls-container {
    flex-grow: 1; /* fill remaining space */
    display: flex;
    gap: 1.3vh;
}

button {
    flex-grow: 1; /* fill remaining space */
    border-radius: 2vh;
    background: #15223c;
    cursor: pointer;
    padding: 0;
}

button:focus {
    outline: none;
}

.dial-container {
    /* set aspect-ratio to 1 */
    width: 63.945%;
    /* would rather use aspect-ratio than width % */
    /* but aspect-ratio appears unsupported on safari */
    /* aspect-ratio: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dial {
    background: #15223c;
    height: 16%;
    width: 16%; 

    /* more than enough to completley round corners */
    border-radius: 50vh;
}
